@import '../vars.scss';
@import '../functions.scss';
.Forecast{
  margin: 10px;
  width: 90%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 22px;
  border: .8px solid  get-opacity($color-secundary, 0.3);
  box-shadow: 10px 10px 10px 1px get-opacity($color-secundary,0.2);
  transition: .4s;
  &:hover{
    transition: .4s;
    transform: scale(1.06);
  }
  & img {
    text-align: center;
    align-items: center;
    width: 30%;
  }

  &__day{
    text-align: left;
    & p {
      margin: 4px auto;
    }
  }

  &__temp{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $color-aux;
    border-radius: 22px;
    height: 100%;
    border: .4px solid get-opacity($color-secundary,.3);
    font-size: 14px;
    font-weight: bold;
    & p {
      margin: auto auto;
    }
  }
}